[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/atomicobject/heatshrink.git
[submodule "https:/github.com/themadinventor/esptool.git"]
	path = https:/github.com/themadinventor/esptool.git
	url = ./esptool
